<!doctype html>
<html ng-csp ng-app="MyPopup">
    <head>
        <title>F5 APM Information</title>
        <script src="./js/shared.js" type="application/javascript"></script>
        <link rel="stylesheet" href="./css/popup.css" type="text/css" />
        <link rel="stylesheet" href="./css/angular-csp.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body ng-controller="popupCtrl" ng-load="reload()">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="F5 Logo" src="./images/icon.png" style="width:28px;height:28px;">
                    </a>
                    <p class="navbar-text">
                        F5 Debug Information
                        <small style="float:right;padding-right:5px;">
                            <a class="navbar-link" href="https://github.com/jangins101/F5-APM-Session-Information" target="_blank" title="Github Project"><img src="./images/github.png" style="width:16px;height:16px;" /> Github</a>
                        </small>
                    </p>
                </div>
            </div>
        </nav>

        <div id="apm" class="panel panel-default" ng-show="rewrite.enabled">
            <div class="panel-heading" style="font-weight:bold;">APM Rewriter Information</div>
            <ul class="list-group">
                <li class="list-group-item"><label>Internal hostname:</label><span id="host" ng-bind="rewrite.host"></span></li>
                <li class="list-group-item"><label>Internal uri:</label><span id="uri" ng-bind="rewrite.uri"></span></li>
                <li class="list-group-item"><label>Internal link:</label><span id="link"><a target="_blank" ng-href="{{rewrite.link}}">{{rewrite.link}}</a></span></li>
                <li class="list-group-item" ng-show="sid != undefined"><label>Session ID:</label><span id="sid" ng-bind-html="sidLabel | trust"></span></li>
            </ul>
        </div>

        <div ng-show="hasCookies()" class="panel panel-default" id="cookies">
            <div class="panel-heading" style="font-weight:bold;">Cookies</div>
            <table class="table" cellpadding=0 cellspacing=0>
                <thead>
                    <tr>
                        <th style='width:16px;text-align:center'>&nbsp;</th>
                        <th>Name</th>
                        <th nowrap>Domain</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cookie in cookies" data-value="{{cookie | json}}">
                        <td><button type="button" class="btn btn-default btn-xs" ng-click="deleteCookie(cookie)" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                        <td class="min20">{{cookie.name}}</td>
                        <td class="min20">{{cookie.domain}}</td>
                        <td class="min50">{{cookie.value}}<span ng-show="cookie.persistence"><br /><em class="label label-info" title="Decoded persistence cookie value">{{cookie.persistence}}</em></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script src="./js/angular.min.js" type="application/javascript"></script>
        <script src="./js/ngpopup.js" type="application/javascript"></script>
    </body>
</html>
