body{
    color: #333;
}
h2 {    
    margin: 2px 0 5px 0;
    padding: 0; 
    font-style: italic;
    border-bottom: solid 1px #CCC;
    text-align: center;
}
h3 {
    margin: 2px 0;
}

.row {
    padding: 5px;
    border: solid 1px transparent;
    border-left: solid 2px #333;
    border-right: solid 2px #333;
    margin: 1px 0;
}
.row span {
    display:inline-block;
    margin-left: 10px;
}

.highlight:hover {
    border-color: #333;
    background-color: rgba(255, 248, 161, 0.15);
}

label {
    display: inline-block;
    width: 10em;
    font-size: .9em;
    font-style: italic;
    font-weight: bold;
}

table tr td, table tr th {
    border: solid 1px #000;
    padding:2px;
}
table thead tr {
    background-color: #ffeeee;
}
table tbody tr:hover {
    background-color: rgba(255, 248, 161, 0.25);
}